/*---------------------------------------------------------------------------*/
/* CABECALHO */

.cabecalho {
    margin-bottom: 2%;
}

.cor_fonte {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.cabecalho img {
    height: 50px;
}

.listas a:hover {
    color: rgb(30, 98, 224);
}

#navbarDropdownMenuLink {

    background-color: #ffffff;

}

nav {
    border-bottom: 1px solid rgb(210, 211, 211);
}

/* Estilizando o link do dropdown */
.nav-item.dropdown .nav-link {
    color: black
        /* Cor do texto */
}

/* Estilizando o link do dropdown quando o mouse passa por cima */
.nav-item.dropdown .nav-link:hover {
    color: rgb(30, 98, 224);
    /* Cor do texto quando passa o mouse */
}

/* Estilizando o link do dropdown quando está aberto */
.nav-item.dropdown .nav-link:focus,
.nav-item.dropdown .nav-link:active {
    color: rgb(30, 98, 224);
    /* Cor do texto quando está aberto */
}

/* Estilizando o fundo do dropdown */
.nav-item.dropdown .dropdown-menu {
    background-color: white;
    /* Cor de fundo do dropdown */
}

/* Estilizando os itens do dropdown */
.nav-item.dropdown .dropdown-item {
    color: black;
    /* Cor do texto dos itens do dropdown */
}

/* Estilizando os itens do dropdown quando o mouse passa por cima */
.nav-item.dropdown .dropdown-item:hover {
    background-color: #F1F5F2;
    /* Cor de fundo dos itens do dropdown quando passa o mouse */
    color: rgb(30, 98, 224);
    /* Cor do texto dos itens do dropdown quando passa o mouse */
}

/*-----------------------------------------------------------------------------------------*/
/* modal de itens */

.input-personalizado {
    border-radius: 20px;
    border: 2px solid #00BFFF;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-content {
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1080px;
}

.modal-header,
.modal-footer {
    border: none;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
}

.custom-modal-lg {
    max-width: 100%;
}

.custom-modal-height {
    height: 100%;
    overflow-y: auto;
}

.numItens {
    width: 100px;
}

.selec {
    width: 100px;
}

.form-modal {
    margin-bottom: 15px;
}

.form-modal label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-modal input,
.form-modal select {
    width: 100%;
}

.row {
    margin-bottom: 20px;
}

/*----------------------------------------------------------------*/
/* formularios */
h2 {
    font-weight: bold;
}

.container-custom {
    max-width: 800px;
    margin: auto;
    border: 1px solid #1AA7E7;
    padding: 20px;
    border-radius: 10px;
}

.row-custom {
    display: flex;
    justify-content: space-between;
}

.col-custom {
    flex: 1;
    margin-right: 10px;
}

.col-custom2 {
    flex: 1;
    margin-right: 10px;
    border-left: 1px solid #1AA7E7;
}


.btn-group-custom {
    display: flex;
    justify-content: center;
}

.btn-group-custom button {
    margin: 0 10px;
}

.btn-personalizado {
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
}

.aviso{
    font-size: 16px;
    color: rgb(158, 158, 158);
}

/*----------------------------------------------------------------------------------------*/
.consulta{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.numeroItens{
    border-bottom: 1px solid #1AA7E7;
}